<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSCFileService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
	  <appender name="EFNetAppender" type="CSCFileService.EFNetAppender">
		  <bufferSize value="1" />
		  <connectionType value="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		  <connectionStringName value="EDIEntities" />
		  <commandText>
			  <![CDATA[INSERT INTO dbo.Log4NetLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level,@logger, @message, @exception);DELETE FROM dbo.Log4NetLog WHERE Date < DATEADD(Day, -7, GETDATE())]]>
		  </commandText>
		  <parameter>
			  <parameterName value="@log_date" />
			  <dbType value="DateTime" />
			  <layout type="log4net.Layout.RawTimeStampLayout" />
		  </parameter>
		  <parameter>
			  <parameterName value="@thread" />
			  <dbType value="String" />
			  <size value="255" />
			  <layout type="log4net.Layout.PatternLayout">
				  <conversionPattern value="%thread" />
			  </layout>
		  </parameter>
		  <parameter>
			  <parameterName value="@log_level" />
			  <dbType value="String" />
			  <size value="50" />
			  <layout type="log4net.Layout.PatternLayout">
				  <conversionPattern value="%level" />
			  </layout>
		  </parameter>
		  <parameter>
			  <parameterName value="@logger" />
			  <dbType value="String" />
			  <size value="255" />
			  <layout type="log4net.Layout.PatternLayout">
				  <conversionPattern value="%logger" />
			  </layout>
		  </parameter>
		  <parameter>
			  <parameterName value="@message" />
			  <dbType value="String" />
			  <size value="4000" />
			  <layout type="log4net.Layout.PatternLayout">
				  <conversionPattern value="%message" />
			  </layout>
		  </parameter>
		  <parameter>
			  <parameterName value="@exception" />
			  <dbType value="String" />
			  <size value="2000" />
			  <layout type="log4net.Layout.ExceptionLayout" />
		  </parameter>
	  </appender>
      <appender name="MyFileAppender" type="log4net.Appender.rollingFileAppender">
          <file value="${ProgramData}\CSCFileService\Log\CSCFileService_" />
          <datepattern value="yyyyMMdd'_${USERNAME}.log'" />
          <threshold value="ALL" />
          <appendToFile value="true" />
          <maximumFileSize value="1MB" />
          <MaxSizeRollBackups value="10" />
          <RollingStyle value="size,date" />
          <staticLogFileName value="false" />
          <preserveLogFileNameExtension value="true" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%identity] | %message%newline" />
          </layout>
      </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="MyFileAppender"/>-->
	  <appender-ref ref="EFNetAppender" />
    </root>
  </log4net>
  <applicationSettings>
		<CSCFileService.Properties.Settings>
			<setting name="CycleTimeMinutes" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="FilePatternToLookAt" serializeAs="String">
				<value>*.txt</value>
			</setting>
			<setting name="Emails" serializeAs="String">
				<value>steveling@fruitgrowers.com</value>
			</setting>
			<setting name="SMTPFROMEMAIL" serializeAs="String">
				<value>sales@fruitgrowers.com</value>
			</setting>
			<setting name="SMTPSERVER" serializeAs="String">
				<value>mail1.fgs1.local</value>
			</setting>
			<setting name="SMTPPort" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="SMTPUser" serializeAs="String">
				<value />
			</setting>
			<setting name="SMTPPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="PickUpFolder" serializeAs="String">
				<value>\\fgs1.local\fgsc\Apps\Kiwi\Prod\EDI\850Order\</value>
			</setting>
			<setting name="ArchiveFolder" serializeAs="String">
				<value>\\fgs1.local\fgsc\Apps\Kiwi\Prod\EDI\850FanfoldOrder\ArchiveB4S2</value>
			</setting>
			<setting name="WorkFolder" serializeAs="String">
				<value>\\fgs1.local\fgsc\Apps\Kiwi\Prod\EDI\850FanfoldOrder\Work</value>
			</setting>
			<setting name="OutPutFolder" serializeAs="String">
				<value>\\fgs1.local\fgsc\Apps\Kiwi\Prod\EDI\850FanfoldOrder</value>
			</setting>
			<setting name="FilesToImportAtOnce" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="EmailCopy" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PurgeFilesDays" serializeAs="String">
				<value>7</value>
			</setting>
		</CSCFileService.Properties.Settings>
	</applicationSettings>
  <connectionStrings>
	  <add name="EDIEntities"
     connectionString="metadata=res://*/EDI.csdl|res://*/EDI.ssdl|res://*/EDI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGSCKPESPDB01.FGS1.LOCAL;initial catalog=EDI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
	  <add name="ESPEntities"
     connectionString="metadata=res://*/ESP.csdl|res://*/ESP.ssdl|res://*/ESP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGSCKPESPDB01.FGS1.LOCAL;initial catalog=ESP_live;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
           providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
