<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="EDIEntities" 
			 connectionString="metadata=res://*/EDI.csdl|res://*/EDI.ssdl|res://*/EDI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql06.onling.com;initial catalog=EDI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
			providerName="System.Data.EntityClient"
			xdt:Transform="Replace" />
	</connectionStrings>
	<applicationSettings>
		<CSCFileService.Properties.Settings>
			<setting name="MaxLinesInFiles" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="CycleTimeMinutes" serializeAs="String">
				<value>0.5</value>
			</setting>
			<setting name="FileToLookAt" serializeAs="String">
				<value>*.txt</value>
			</setting>
			<setting name="Emails" serializeAs="String">
				<value>robinhood1995@yahoo.com</value>
			</setting>
			<setting name="SMTPFROMEMAIL" serializeAs="String">
				<value>sales@myfflbook.com</value>
			</setting>
			<setting name="SMTPSERVER" serializeAs="String">
				<value>myfflbook-com.mail.protection.outlook.com</value>
			</setting>
			<setting name="SMTPPort" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="SMTPUser" serializeAs="String">
				<value />
			</setting>
			<setting name="SMTPPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="PickUpFolder" serializeAs="String">
				<value>C:\Interface\Ord</value>
			</setting>
			<setting name="ArchiveFolder" serializeAs="String">
				<value>C:\Interface\ord\Archive</value>
			</setting>
			<setting name="WorkFolder" serializeAs="String">
				<value>C:\Interface\ord\Work</value>
			</setting>
			<setting name="OutPutFolder" serializeAs="String">
				<value>C:\Interface\ord\Out</value>
			</setting>
			<setting name="FilesToImportAtOnce" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="EmailCopy" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PurgeFilesDays" serializeAs="String">
				<value>7</value>
			</setting>
		</CSCFileService.Properties.Settings>
	</applicationSettings>
</configuration>