<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EDIEntities" connectionString="metadata=res://*/EDI.csdl|res://*/EDI.ssdl|res://*/EDI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGSCKPESPDB01.FGS1.LOCAL;initial catalog=EDI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>